*{
    margin:0cm;
    padding:0cm;
    font-family: Outfit;
}
:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
body{
    background-color: var(--main-BG);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#main-card{
    background-color: var(--card-BG);
    height: 16cm;
    width: 9cm;
    padding: 0.5cm;
    border-radius: 0.4cm;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#main-card #image-hover{
    position:relative;
}
#main-card #image-hover div{
    position:absolute;
    border-radius: 0.4cm;
    top:0;
    background-color: hsl(178, 100%, 50%, 50%);
    width:100%;
    height: calc(100% - 4px);
    z-index:999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
#main-card #image-hover div:hover{
    opacity: 1;
    cursor: pointer;
}
#main-card #image-hover div img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%)
}
#eth-card{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 0.4cm;
}
#title-card{
    display: inline-block;
    font-size: 24px;
    color: var(--White);
    font-variation-settings: "wght" 600;
    margin-top: 0.5cm;
}
#title-card:hover{
    color: var(--Cyan);
    cursor: pointer;
}
#description-card{
    font-size: 20px;
    color: var(--Soft-blue);
    font-variation-settings: "wght" 300;
    margin-top: 0.4cm;
}
#container-info{
    margin-top: 0.5cm;
    height: 1.3cm;
    width: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#start{
    display:flex;
    align-items: center;
    width: auto;
}
#eth-price{
    font-size: 18px;
    color: var(--Cyan);
    font-variation-settings: "wght" 400;
    margin-left: 0.2cm;
}
#end{
    display:flex;
    align-items: center;
    width: auto;
}
#day-left{
    color:  var(--Soft-blue);
    font-size: 18px;
    margin-right: 0.2cm;
    padding-left: 0.2cm;
}
#container-author{
    margin-top: 0.3cm;
    height: 2cm;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: solid 1px var(--line) ;
}
#avatar{
    width: 1cm;
    border-radius: 100%;
    border: solid 1px var(--White);
    
}
#container-author p{
    margin-left: 0.4cm;
    font-size: 18px;
    color: var(--Soft-blue);
    font-variation-settings: "wght" 300;
}
#container-author p span{
    color: var(--White);
}
#container-author p span:hover{
    color: var(--Cyan);
    cursor:pointer;
}



